/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'); 

/* ======font family=========
 font-family: 'Montserrat', sans-serif; 
*/



body {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #414b4d;
}

  
button {
  cursor: pointer; 
}

a:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; 
  text-decoration: none;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #414b4d;
  margin-top: 0px;
  font-weight: 700;
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

.pb_150{padding-bottom: 150px;}
.pb_100{padding-bottom: 100px;}
.pb_50{padding-bottom: 50px;}
.pt_150{padding-top: 150px;}
.pt_100{padding-top: 100px;}
.pt_50{padding-top: 50px;}

.mb_150{margin-bottom: 150px;}
.mb_100{margin-bottom: 100px;}
.mb_50{margin-bottom: 50px;}
.mt_150{margin-top: 150px;}
.mt_100{margin-top: 100px;}
.mt_50{margin-top: 50px;}
 
.thm_btn{}

/* default-css END 
================================== */
 


.header-area {
  padding: 20px 0;
  width: 100%;
  z-index: 99;
  background: #414B4D;
}
.menu-area nav ul li {
  list-style: none;
  display: inline-block;
}

.menu-area nav ul li a {
  font-size: 16px;
  display: inline-block;
  margin-left: 60px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffff;
}
.menu-area nav ul li a.theme-btn {
  background: white;
  display: inline-block;
  padding: 0 50px;
  height: 48px;
  color: #ff4900;
  line-height: 48px;
  border-radius: 30px;
  border: 2px solid white;
  transition: .3s;
}  

.menu-area{
    text-align: right;
}

.menu-area ul li button {
    background: #FF5B4E;
    border: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 8px 20px;
    display: flex;
    font-weight: 500;
    margin-left: 30px;
}

/* humbergar */
.bar a {
  width: 35px;
  height: 35px;
  float: right;
  position: relative;
} 
.bar a span {
  width: 100%;
  height: 3px;
  background: #fff;
  display: block;
  position: relative;
  top: 17px;
  border-radius: 30px;
  transition: .3s;
} 
.bar a span:before {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #fff;bottom: 10px;border-radius: 30px;transition: .3s;} 
.bar a span:after {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #fff;bottom: -10px;border-radius: 30px;transition: .3s;}
 
/* humbarger END */
 

/* mobile-menu START */
.mobile-menu {
  position: fixed;
  width: 320px;
  height: 100vh;
  background: #ffffff;
  z-index: 99;
  box-shadow: 0px 0px 9px -1px #737373;
  top: 0;
  left: 0;
  transition: .3s;
  margin-left: -400px;
  padding-left: 40px;
  padding-top: 100px;
}
.siteBar{
  margin-left: 0; 
}
.mobile-menu ul#pills-tab {
  margin-top: 90px;
  margin-bottom: 35px !important;
  display: block;
}
.mobile-menu  nav ul li {
  list-style: none;
  display: block;
}

.mobile-menu nav ul li a {
  color: #272835;
  font-size: 16px;
  line-height: 40px;
  transition: .3s;
}

.mobile-menu nav ul li a:hover { 
  color: #ff4900;
}

.mobile-menu ul#pills-tab li {
  display: inline-block;
}

.mobile-menu ul#pills-tab li a {
  color: #272835;
  font-size: 15px;
} 
.mobile-menu a.theme-btn {
  margin-top: 60px;
  margin-left: 0;
} 
.mobile-menu a.theme-btn {
  margin-top: 60px;
  margin-left: 0;
  height: 45px;
  line-height: 45px;
}
.mobile-menu .user a {
    display: block;
    width: 100%;
    padding: 0;
    color: #272835;
    line-height: 40px;
    font-size: 16px;
}

.mobile-menu .user {
    display: block;
}

.mobile-menu .user a:hover {
    background: none;
    opacity: .5;
}
.mobile-menu a.bars {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 40px;
  height: 40px;
  background: #ff4900;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 22px;
  color: #fff;
  box-shadow: 0px 0px 17px -2px #0000004a;
}

/* Header section END */

.logo-area a {
  width: 100px;
}

.logo-area a img {
  width: 100%;
}
.hero_area {border-radius: 40px;background: #fff;padding: 80px 0 80px;background-repeat: no-repeat;background-position: 100% center;margin-bottom: 50px;background-size: contain;}
.container {
}
.row {
}
.col-lg-12 {
}
.hero_wrp {max-width: 500px;}
.hero_title {margin-bottom: 60px;}

.hero_title p {
    color: #838383;
}

.hero_title span {
    font-size: 18px;
    font-weight: 600;
    color: #ff5b4e;
    margin-bottom: 25px;
    display: block;
}

.hero_title h3 {
    margin-bottom: 20px;
}

.hero_title h1 {
    text-transform: uppercase;
    color: #414b4d;
}
.kk {color: #838383;font-weight: 500;}
.hero_content {
}
.hero_content_img {display: flex;}
.hero_img_blk {text-align: center;margin-bottom: 20px;}

.hero_img_blk a {
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    display: block;
}

.hero_img_blk i {
    width: 240px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8F999B;
    border-radius: 20px;
    margin-right: 20px;
}

.hero_img_blk img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form {display: flex;flex-wrap: wrap;justify-content: space-between;margin: 20px 0;}


.hero_wrp button {
    max-width: 300px;
    display: flex;
    width: 100%;
    border: none;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    padding: 13px 0;
    font-weight: 700;
    text-transform: uppercase;
    background: #414b4d;
    color: #fff;
    border-radius: 30px;
}

.form p {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #838383;
    margin-bottom: 5px;
}
.fm_blk {display: flex;width: 45%;padding-bottom: 10px;}

.fm_blk label {
    padding-right: 14px;
    transform: translateY(10px);
    font-weight: 500;
    color: #838383;
}

.fm_blk input {
    border: none;
    border-bottom: 2px solid #36363640;
    width: 100%;
}